<div class="container marketing" style="margin-top:50px">

    <%for(j=0 ; j < app.homeData.getCategories().models.length ; j++){
    var category=app.homeData.getCategories().models[j];%>
    <div class="row">
        <h1 class="" contenteditable="false"><%=category.getCategoryTitle()%></h1>
        <%for(i=0 ; i < category.getBookVolumes().models.length ; i++){
        var volume=category.getBookVolumes().models[i];%>
        <div class="col-lg-2 col-md-3 col-xs-6 thumb volume">
            <div class="thumbnail">
                <figure>
                    <a href="/Archive/<%=volume.getTableOfContentId()%>"><img class="img-responsive book-image" src="/Files/Images/books/<%=volume.getBook().getImage()%>" alt=""></a>
                    <figcaption data-toggle="modal" data-target="#<%=volume.getVolumeId()%>">
                        <h1><%=volume.getBook().getBookName()%> <%=(volume.getVolumeNumber() > 0 ? " جلد " + volume.getVolumeNumber() : "")%></h1>
                        <p>نویسنده: <%=volume.getBook().getAuthor()%></p>
                        <p><%=volume.getBook().getPublisher()%></p>
                    </figcaption>
                </figure>

            </div>
        </div>

        <!--Book Volume Modal-->
        <div class="modal fade" id=<%=volume.getVolumeId()%> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <ul class="nav nav-pills " role="tablist">
                            <li role="presentation" class="active"><a id="pill1" href="#volumeinfo-@volume.VolumeId" aria-controls="volumeinfo" role="tab" data-toggle="pill">مشخصات</a></li>
                            <li role="presentation"><a id="pill2" href="#volumeTags-<%=volume.getVolumeId()%>" aria-controls="volumeTags" role="tab" data-toggle="pill" onclick="getVolumeTags('<%=volume.getVolumeId()%>')">برچسب‌ها</a></li>
                        </ul>
                    </div>

                    <div class="modal-body">
                        <div role="tabpanel">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="volumeinfo-<%=volume.getVolumeId()%>">
                                    <div class="row">
                                        <img src="/Files/Images/books/<%=volume.getBook().getImage()%>" class="book-image">
                                    </div>
                                    <h4><%=volume.getBook().getDescription()%></h4>
                                    <p>
                                        <strong>نویسنده: </strong> <%=volume.getBook().getAuthor()%>
                                    </p>
                                    <p>
                                        <strong>مترجم :</strong> <%=volume.getBook().getTranslator()%>
                                    </p>
                                    <p>
                                        <strong>ناشر: </strong> <%=volume.getBook().getPublisher()%>
                                    </p>
                                    <p>
                                        <strong>موضوعات: </strong>
                                        <a href="#"><%=category.getCategoryTitle()%></a>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="volumeTags-<%=volume.getVolumeId()%>">
                                    <div class="row" id="tag-cloud-<%=volume.getVolumeId()%>">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <%if (app.person != null){%>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                اضافه به کتابخانه <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <!--
                                @foreach (var workspace in ViewBag.personWorkspaces)
                                {
                                <li><a onclick="AddVolumes(@workspace.WorkspaceId, [@volume.VolumeId])">@workspace.WorkspaceTitle</a></li>
                                }
                                -->
                            </ul>
                        </div>
                        <%}%>
                        <button type="button" class="btn btn-primary" onclick="location.href='/Library#volume/<%=volume.getVolumeId()%>/toc/<%=volume.getTableOfContentId()%>'">شروع مطالعه</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/Book Volume Modal-->
        <%}%>
    </div>

    <hr class="featurette-divider">
    <%}%>


</div>