<h1 style="display: inline-block;">
    <a href="#workspaceOverview/<%=Model.getWorkspaceId()%>"><%=Model.getWorkspaceTitle()%></a><a style="font-size: 14px; margin-right: 10px; vertical-align: bottom;"><%=Model.getWorkspaceOwner()%></a>
</h1>
<div class="pull-left">
    <button class="btn btn-default"><i class="fa fa-sign-in"></i>ورود به کتابخانه</button>
    <button class="btn btn-default"><i class="fa fa-gears"></i>تنظیمات</button>
</div>
<p><%=Model.getWorkspaceDescription()%></p>
<nav class="panel panel-default">
    <div class="panel-body">
        <ul class="indicators" style="display: table; width: 100%; text-align: center; margin-bottom: 0px;">
            <%if(Model.getBookVolumes().length > 0){%>
            <li style="display: table-cell"><i class="fa fa-book"></i><a href="#workspace/<%=Model.getWorkspaceId()%>/Books"><%=Model.getBookVolumes().length%> کتاب</a></li>
            <%}
            if(Model.getGraphs().length > 0){%>
            <li style="display: table-cell"><i class="fa fa-share-alt"></i><a href="#workspace/<%=Model.getWorkspaceId()%>/Graphs"><%=Model.getGraphs().length%> نمودار</a></li>
            <%}
            if(Model.getCommentsNumber() > 0){%>
            <li style="display: table-cell"><i class="fa fa-comments"></i><a href="#workspace/<%=Model.getWorkspaceId()%>/Comments"><%=Model.getCommentsNumber()%> توضیح</a></li>
            <%}
            if(Model.getTagsNumber() > 0){%>
            <li style="display: table-cell"><i class="fa fa-tags"></i><a href="#workspace/<%=Model.getWorkspaceId()%>/Tags"><%=Model.getTagsNumber()%> برچسب</a></li>
            <%}
            if(Model.getPersons().length > 0){%>
            <li style="display: table-cell"><i class="fa fa-users"></i><a href="#workspace/<%=Model.getWorkspaceId()%>/Persons"><%=Model.getPersons().length%> همکار</a></li>
            <%}%>
        </ul>
    </div>
</nav>