<div class="row" style="padding-top: 60px; margin: 60px auto; max-width: 700px;">
    <h1>یک کتابخانه جدید بسازید</h1>
    <h4>کتابخانه محلی برای پژوهش شماست. شما در آینده می‌توانید منابع مورد نیاز خود را به آن اضافه نموده، در آن نمودار بکشید و دیگران را به همکاری دعوت کنید.</h4>
    <hr/>
    <div class="form-group">
        <div>عنوان پژوهش</div>
        <div>
            <input type="text" id="WorkspaceTitle" name="WorkspaceTitle" value="" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div>توضیحات</div>
        <div>
            <textarea rows="3" id="WorkspaceDescription" name="WorkspaceDescription" class="form-control"></textarea>
        </div>
    </div>
    <button type="button" id="btnNewWorkspace" class="btn btn-success pull-left">ایجاد</button>
</div>